:root {
  --header-bg: #007bff;
  --text-color: #f7f7f5;
}
header {
  background-color: var(--header-bg);
  padding: 20px;
  color: white;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.5rem;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}
.nav-links li {
  color: var(--text-color);
  cursor: pointer;
  position: relative;
}
.nav-links li::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0%;
  height: 2px;
  background-color: #fff;
  background-position: center;
  transition: all ease-in 0.3s;
  transform: translateX(-50%);
}
.nav-links li:hover::after {
  width: 100%;
}
.nav-links a {
  color: var(--text-color);
  text-decoration: none;
}
.logo {
  width: 150px;
  height: auto;
}
