.search-container {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  margin-bottom: 3rem;
}
.search-input {
  padding: 1rem;
  outline: none;
  border: 1px solid black;
  font-size: 0.8rem;
  transition: ease-in 0.3s;
  border-radius: 5px;
  font-family: inherit;
}
.search-input:hover {
  border: 1px solid #007bff;
  transition: ease-in 0.3s;
}
